* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.button {
  display: flex;
  align-self: center;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  transition: 0.5s;
}
.button-on-mouse {
  background-color: royalblue;
  transition: 0.5s;
}
.main-button {
  padding: 10px 60px;
  font-size: 50px;
  border-radius: 50px;
}
.sub-button {
  padding: 10px 30px;
  font-size: 30px;
  border-radius: 40px;
}
.small-button {
  padding: 10px 10px;
  font-size: 16px;
  border-radius: 20px;
}
