* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.boards {
  display: flex;
  justify-content: center;
  gap: 200px;
}
.board {
  display: grid;
  justify-items: center;
  width: fit-content;
  height: fit-content;
  grid-gap: 4px;
  background-color: rgb(55, 55, 245);
  border: 4px solid rgb(55, 55, 245);
}
.player-names {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.cell {
  display: flex;
  background-color: rgb(24, 105, 197);
  color: rgba(0, 0, 0, 0.521);
  font-size: 30px;
  padding: 5px;
}
.cell-clicked {
  background-color: rgb(13, 102, 129);
  transition: 1s;
}
.cell-available {
  background-color: green;
  transition: 0.5s;
}
.cell-unavailable {
  background-color: red;
  transition: 0.5s;
}
