* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.menu-players {
  display: flex;
  column-gap: 35px;
}
.player {
  position: relative;
  row-gap: 10px;
  cursor: default;
}
.name-input {
  border-radius: 25px;
  border: 1px solid black;
  padding: 10px;
  outline: none;
  font-size: 20px;
  background-color: cadetblue;
  transition: 0.5s;
}
.name-input-animated {
  border: 1px solid rgb(10, 107, 7);
}
.player-name {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  text-transform: uppercase;
  transition: 0.5s;
}
.player-name-animated {
  transform: translate(20%, -50%);
  font-size: 12px;
  padding: 0 10px;
  background: rgb(10, 107, 7);
  color: black;
  border-radius: 5px;
}
