* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.title {
  display: flex;
  justify-content: center;
  margin: 50px auto 100px auto;
  text-align: center;
}
.title-text {
  font-size: 70px;
  background-color: red;
}
