:root {
  --item-background-color: transparent;
  --item-background-color-hover: royalblue;
  --item-background-color-arrow-hover: rgb(160, 185, 255);
  --item-background-color-clicked: red;
  --hover-transition: 0.5s;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.menu {
  display: flex;
  flex-direction: column;
}
.menu-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  row-gap: 35px;
  justify-items: center;
  align-self: center;
  margin: 100px auto;
}
.menu-players {
  display: flex;
  column-gap: 35px;
  grid-column: span 12;
  align-items: center;
}
.arrow-icon {
  display: flex;
  font-size: 35px;
  border-radius: 15px;
}
.menu-item {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  grid-column: span 12;
  list-style: none;
  align-items: center;
  cursor: pointer;
}
.menu-item-hover {
  background-color: var(--element-background-color-hover);
  transition: 0.5s;
}
/**************************************************************/
.player-box {
  position: relative;
  row-gap: 10px;
  cursor: default;
  background-color: var(--element-background-color);
}
.name-input {
  border-radius: 25px;
  border: 1px solid black;
  padding: 10px;
  outline: none;
  font-size: 20px;
  background-color: cadetblue;
  transition: 0.5s;
}
.name-input-animated {
  border: 1px solid rgb(10, 107, 7);
}
.player-name {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  text-transform: uppercase;
  transition: 0.5s;
}
.player-name-animated {
  transform: translate(20%, -50%);
  font-size: 12px;
  padding: 0 10px;
  background: rgb(10, 107, 7);
  color: black;
  border-radius: 5px;
}
