:root {
  --item-background-color: transparent;
  --item-background-color-hover: royalblue;
  --item-background-color-arrow-hover: rgb(160, 185, 255);
  --item-background-color-clicked: red;
  --hover-transition: 0.5s;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
