:root {
  --fleet-size: 20px;
}
.select-fleet {
  display: flex;
  height: fit-content;
  width: fit-content;
  gap: 10px;
  background-color: bisque;
  border-radius: 10px;
  padding: 5px;
}
.fleet {
  display: flex;
  flex-direction: column;
  font-size: var(--fleet-size);
  align-items: center;
  /* height: 60px;
  width: 60px; */
}
.rotate {
  display: flex;
  align-self: center;
}
