:root {
  --fleet-size: 20px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.select-fleet {
  display: flex;
  gap: 10px;
  background-color: bisque;
  border-radius: 30px;
  padding: 15px;
  flex-direction: column;
}
.fleet {
  display: flex;
  font-size: var(--fleet-size);
  gap: 10px;
  align-self: center;
}
.buttons {
  display: flex;
  align-self: center;
}
.fleets {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
