:root {
  --fleet-size: 20px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.select-fleet {
  display: flex;
  gap: 10px;
  background-color: bisque;
  border-radius: 30px;
  padding: 15px;
  flex-direction: column;
}
.placed-fleet {
  background-color: rgb(77, 131, 77);
  outline: 5px solid green;
  outline-offset: -5px;
}
.active-fleet {
  outline: 5px solid rgb(13, 102, 129);
}
.unavailable-fleet {
  opacity: 0.5;
}
.fleet {
  display: flex;
  font-size: var(--fleet-size);
  gap: 10px;
  align-self: center;
}
.buttons {
  display: flex;
  align-self: center;
}
.fleets {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.placed-ship {
  background-color: green;
  border-radius: 5px;
}
.unplaced-ship {
  background-color: red;
  border-radius: 5px;
}
